:root {
  --text-color: #f0f4f5;
  --accent-color: #263343;
  --background-color: #d49466;
}
body {
  margin: 0;
  font-family: "Source Sans Pro";
}
/*text-decoriation 은 태그의 밑줄 제거*/
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  padding: 8px 12px;
}

/*logo*/

.navbar_logo {
  font-size: 28px;
  color: var(--text-color);
}

.navbar_logo i {
  color: var(--background-color);
}
.navbar_logo span {
  font-size: 25px;
}

/*menu*/

/*list-style 은 리스트의  쩜? 제거*/
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar_menu li {
  padding: 8px 12px;
}
/* li 가 hover 마우스가 올라가면 꾸며준다.   
boder-radius 백스라운드 상자를 꾸며준다.
*/
.navbar_menu li:hover {
  background-color: var(--background-color);
  border-radius: 4px;
}

/*Link*/

.navbar_links {
  font-size: 25px;
  display: flex;
  list-style: none;
  color: var(--text-color);
  padding-left: 0px;
  margin: 7px;
}

.navbar_links li {
  padding: 8px 12px;
}
/*
그냥 흐름에서 나와서 배치 한다 position: absolute; 따로 배치
right에서 32px  떨어진곳에 붙여줘!
display none을 하여 평소에는 안보이고 줄어들면 보이개하기
*/
.navbar_togleBtn {
  display: none;
  position: absolute;
  right: 25px;
  font-size: 24px;
  color: var(--background-color);
}

/*
창이 줄어들때 자연스럽개 만들어주는 @media
*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  /*
  메뉴의 넓이가 작기떄문에 width: 100%  해줘야한다.
  */

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_links {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_togleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }
}
